.u-tcff
  color #fff

.u-fs10
  font-size 20rpx
.u-fs11
  font-size 22rpx
.u-fs12
  font-size 24rpx
.u-fs13
  font-size 26rpx
.u-fs14
  font-size 28rpx
.u-fs15
  font-size 30rpx
.u-fs16
  font-size 32rpx
.u-fs18
  font-size 36rpx
.u-fs20
  font-size 40rpx
  
.u-fw100
  font-weight 100
.u-fw200
  font-weight 200
.u-fw300
  font-weight 300
.u-fw400
  font-weight 400
  
.u-tac
  text-align center
